<app-input 
  [currencies]="coins" 
  [otherCurrencies]="moneyy"
  [currencyType]="'coin'"
  [currentCurrencyType]="currentCurrencyType"
  [currentSym]="currentSym"
  [currentAmount]="currentAmount"
  (currencyChange)="onCurrencyChange($event)" ></app-input>

<app-input 
  [currencies]="moneyy" 
  [otherCurrencies]="coins"
  [currencyType]="'money'"
  [currentCurrencyType]="currentCurrencyType"
  [currentSym]="currentSym"
  [currentAmount]="currentAmount"
  (currencyChange)="onCurrencyChange($event)" ></app-input>